#btn{
    height: 35px;
    width: 200px;
    margin-top: 30px;
}
.green{
    background-color: rgb(19, 172, 19);
    color: aliceblue;
    height: 30px;
    width: 200px;
}
.red{
    background-color: red;
    color: aliceblue;
    height: 30px;
    width: 200px;
}
#add{
    margin-top: 250px;
    padding-left: 150px;
}
#box{
    background-color: pink;
    height: 200px;
    width: 100vh;
}
.bot{
    height: 35px;
    width: 200px;
    margin-top: 30px;
}
#img{
    height: 100px;
    width: 100vw;
    display: flex;
    justify-content: center;
}
.n1{
    height: 20px;
    width: 50px;
}
.n2{
    height: 20px;
    width: 50px;
}
.n3{
    height: 20px;
    width: 50px;
}
.but{
    display: flex;
    justify-content: center;
}
.sum{
    height: 20px;
    width: 50px;
}
.equal{
    height: 20px;
    width: 50px;
}